
@{
    ViewBag.Title = "Trang Chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var slides = (List<Model.EF.Slide>)ViewBag.Slides;
    var listNewProducts3 = (List<Model.EF.Product>)ViewBag.NewProducts;
    var listNewProducts6 = (List<Model.EF.Product>)ViewBag.NewProducts6;
    var listFeatureProducts = (List<Model.EF.Product>)ViewBag.ListFeatureProducts;

}
@section slide{
    @foreach (var item in slides)
    {
        <div class="hero__item set-bg" data-setbg="@Url.Content(item.Image)">
            <div class="hero__text">
                <span>FRUIT FRESH</span>
                <h2>Vegetable <br />100% Organic</h2>
                <p>Free Pickup and Delivery Available</p>
                <a href="@item.Link" class="primary-btn">SHOP NOW</a>
            </div>
        </div>
    }
}

<section class="featured spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Featured Product</h2>
                </div>
                @*<div class="featured__controls">
                    <ul>
                        <li class="active" data-filter="*">All</li>
                        <li data-filter=".1">Thịt,Cá,Tôm</li>
                        <li data-filter=".2">Fresh Meat</li>
                        <li data-filter=".3">Vegetables</li>
                        <li data-filter=".5">Fastfood</li>
                    </ul>
                </div>*@
            </div>
        </div>

        <div class="row featured__filter">

            @foreach (var item in listFeatureProducts)
            {
                var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
                <div class="col-lg-3 col-md-4 col-sm-6 mix">
                    <div class="featured__item mix @item.CategoryID.ToString()">
                        <div class="featured__item__pic set-bg" data-setbg="@Url.Content(item.Image)">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="/them-gio-hang?productID=@item.ID&quantity=1"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="@url">@item.Name</a></h6>
                            @if (item.PromotionPrice.HasValue)
                            {
                                <h4><del>@(item.Price.HasValue? (String.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"), "{0:c}", item.Price)) :"Liên Hệ")</del></h4>
                                <h5>@(String.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"), "{0:c}", item.PromotionPrice))</h5>
                            }
                            else
                            {
                                <h5>@(item.Price.HasValue? (String.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"), "{0:c}", item.Price)) :"Liên Hệ")</h5>
                            }
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>
<!-- Banner Begin -->
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <img src="~/assets/client/img/banner/banner-1.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <img src="~/assets/client/img/banner/banner-2.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner End -->
<!-- Latest Product Section Begin -->
<section class="latest-product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <!---->
                <div class="latest-product__text">
                    <h4>Latest Products</h4>
                    <div class="latest-product__slider owl-carousel">
                        <div class="latest-prdouct__slider__item">
                            @foreach (var item in listNewProducts3)
                            {
                                var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
                                <a href="@url" class="latest-product__item">
                                    <div style="width: 110px; height: 110px;" class="latest-product__item__pic">
                                        @*<img src=@item.Image alt="ListNewProducts">*@
                                        <img style="object-fit: cover;" src="@item.Image" alt="thumnailchongchay" />
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>@item.Name</h6>
                                        <span>
                                            @(item.PromotionPrice.HasValue ? (String.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"), "{0:c}", item.PromotionPrice)) : (
                                        String.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"), "{0:c}", item.Price)))
                                        </span>
                                    </div>
                                </a>
                            }
                        </div>

                        <div class="latest-prdouct__slider__item">
                            @foreach (var item in listNewProducts6)
                            {
                                var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
                                <a href="@url" class="latest-product__item">
                                    <div style="width: 110px; height: 110px;" class="latest-product__item__pic">
                                        <img style="object-fit: cover;" src="@item.Image" alt="thumnailchongchay" />
                                    </div>
                                <div class="latest-product__item__text">
                                    <h6>@item.Name</h6>
                                    <span>
                                        @(item.PromotionPrice.HasValue ? (String.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"), "{0:c}", item.PromotionPrice)) : (
                                        String.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"), "{0:c}", item.Price)))
                                    </span>
                                </div>
                            </a>
                            }
                        </div>
                    </div>             
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="latest-product__text">
                    <h4>Top Rated Products</h4>
                    <div class="latest-product__slider owl-carousel">
                        <div class="latest-prdouct__slider__item">
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="~/assets/client/img/latest-product/lp-1.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="~/assets/client/img/latest-product/lp-2.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="~/assets/client/img/latest-product/lp-3.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                        </div>
                        <div class="latest-prdouct__slider__item">
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="~/assets/client/img/latest-product/lp-1.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="~/assets/client/img/latest-product/lp-2.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="~/assets/client/img/latest-product/lp-3.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="latest-product__text">
                    <h4>Review Products</h4>
                    <div class="latest-product__slider owl-carousel">
                        <div class="latest-prdouct__slider__item">
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="~/assets/client/img/latest-product/lp-1.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="~/assets/client/img/latest-product/lp-2.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="~/assets/client/img/latest-product/lp-3.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                        </div>
                        <div class="latest-prdouct__slider__item">
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="~/assets/client/img/latest-product/lp-1.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="~/assets/client/img/latest-product/lp-2.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="~/assets/client/img/latest-product/lp-3.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Latest Product Section End -->
