@{ 
    var listNewProducts = (List<Model.EF.Product>)ViewBag.NewProducts;
} 
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Bách Hóa Xanh</title>

    <!--Favicon-->
    <link rel="shortcut icon" type="image/jpg" href="~/assets/client/img/favicon.jpg" />
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
    <!-- Css Styles -->
    <link href="~/assets/client/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/assets/client/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/client/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/assets/client/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/assets/client/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/client/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/client/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/client/css/style.css" type="text/css">

</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            @{Html.RenderAction("TopMenu", "Home");}
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="@Url.Action("Index","Home")" ref="nofollow"><img src="~/assets/client/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <!--Header Menu-->
                    @{Html.RenderAction("MainMenu", "Home");}
                    <!--End Header Menu-->
                </div>
                <div class="col-lg-3">
                    @{Html.RenderAction("HeaderCart", "Home");}
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->
    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <!--Start Dropdown Categories-->
                    @{Html.RenderAction("ProductCategory", "Product");}
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <!--Search-->
                        @RenderPage("Search.cshtml")
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+84979587121</h5>
                                <span>support 24/7 time</span>
                            </div>
                        </div>
                    </div>
                    <!--Start Slide-->
                    @RenderSection("slide", required: false)
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->
    <!-- Featured Section Begin -->
    @RenderBody()
    <!-- Featured Section End -->
    <!-- Footer Section Begin -->
    @{ Html.RenderAction("Footer", "Home");}
    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="/assets/client/js/jquery-3.3.1.min.js"></script>
    <script src="/assets/client/js/jquery.nice-select.min.js"></script>
    <script src="/assets/client/js/jquery-ui.min.js"></script>
    <script src="/assets/client/js/jquery.slicknav.js"></script>
    <script src="/assets/client/js/mixitup.min.js"></script>
    <script src="/assets/client/js/owl.carousel.min.js"></script>
    <script src="/assets/client/js/main.js"></script>
    <script src="/assets/client/js/bootstrap.min.js"></script>

    @RenderSection("jsFooter", required: false)
</body>

</html>
