@model PagedList.IPagedList<Model.EF.Order>
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Order List</h6>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Index", "Content", FormMethod.Get))
        {
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-md-4">
                        <input type="text" value="@ViewBag.SearchString" name="searchString" />
                        <button type="submit" class=""><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        }
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Tên</th>
                        <th>Customer ID</th>
                        <th>Phone</th>
                        <th>Address</th>
                        <th>Email</th>
                        <th>Total Price</th>
                        <th>Create Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="row_@item.ID">
                            <td>
                                <a href="/Admin/Order/ViewDetail/@item.ID">Xem</a>
                            </td>
                            <td>@item.ShipName</td>
                            <td>@item.CustomerID</td>
                            <td>@item.ShipMobile</td>
                            <td>@item.ShipAddress</td>
                            <td>@item.ShipEmail.</td>
                            <td>@item.TotalPrice</td>
                            <td>@item.CreateDate</td>
                        </tr>
                    }
                </tbody>
            </table>
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }), PagedListRenderOptions.PageNumbersOnly)
        </div>
    </div>
</div>
